[submodule "bobcoin"]
	path = bobcoin
	url = https://github.com/robertpelloni/bobcoin.git

[submodule "lr2oraja-endlessdream"]
	path = lr2oraja-endlessdream
	url = https://github.com/seraxis/lr2oraja-endlessdream
